.login_container {
        max-width: 400px;
        padding: 30px;
        -ms-grid-row-align: center;
        align-self: center;
        background: #E8E8E8;
        position: absolute;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.cRed {
        color: red;
        cursor: pointer;
}

.close {
        height: auto;
}

@media (max-width: 767px) {
        .close {
                min-width: auto;
                margin: 10px;
        }
}

.background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(216, 224, 224, 0.1803921568627451);
}