<div class="dashboard_container">
        <!-- <div class="row title" style="border-bottom: 1px solid #eee;background: #fcfcfc">
                <h5 class="mb-0 col-sm-6">
                        Dashboard
                </h5>
                <div class="col-sm-6 text-right">
                        <button class="btn btn-success btn-sm">
                                <i class="fa fa-plus"></i>&nbsp;
                                <span>
                                        ADD
                                </span>
                        </button>
                </div>
        </div>
        <table class="table table-striped">
                <thead>
                        <tr>
                                <th class="text-left" style="width: 40px;">No.</th>
                                <th class="text-left">Name</th>
                                <th class="text-left">Email</th>
                                <th class="text-left">Mobile No.</th>
                                <th class="text-left">Contact No.</th>
                                <th class="text-left" style="width:50px"></th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor='let i of ii;let j = index'>
                                <td class="text-left" style="width: 40px;">{{j+1}}</td>
                                <td class="text-left">Nitin</td>
                                <td class="text-left">test@test.com</td>
                                <td class="text-left">9876543210</td>
                                <td class="text-left">0321654978,1234567890</td>
                                <td class="text-left" style="width:50px">
                                        <a class="fa fa-file-text-o"></a>
                                </td>
                        </tr>
                </tbody>
        </table> -->
</div>