<div class="m40">
    <div class="rAS_container">
        <div class="example-container">
            <mat-toolbar color="primary" class="example-toolbar">
                <a class="example-app-name fill-space" routerLink="/home"><span>Resume App</span></a>
                <div class="nav-right">
                    <button class="btn btn-sm btn-info mr-3 dashboardBtn" routerLink="/dashboard">
                        Go to Dashboard
                    </button>
                <button class="btn btn-sm btn-info mr-3 logoutBtn" (click)="fnLogout()">
                                Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </button>
                </div>
            </mat-toolbar>
        </div>
        <div class="container">
            <div class="row title">
                <h5 class="mb-0 col-sm-12 user-title text-center">
                    Users
                </h5>
                <h6 class="mb-0 col-sm-3">
                    <div class="form-group">
                        <label>Job Title</label>
                        <input type="text" placeholder="Job Title" class="form-control" [(ngModel)]="jobTitleSearchString">
                    </div>
                </h6>
                <h6 class="mb-0 col-sm-3">
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" placeholder="City" class="form-control" [(ngModel)]="citySearchString">
                    </div>
                </h6>
                <h6 class="mb-0 col-sm-3">
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" placeholder="State" class="form-control" [(ngModel)]="stateSearchString">
                    </div>
                </h6>
                <h6 class="mb-0 col-sm-3">
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" placeholder="Country" class="form-control" [(ngModel)]="countrySearchString">
                    </div>
                </h6>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr style="background: #fcfcfc;">
                        <th class="pl-3 text-left">
                            No.
                        </th>
                        <th class="text-left">
                            Name
                        </th>
                        <th class="text-left">Email</th>
                        <th class="text-left">Phone</th>
                        <th class="text-left">Job Title</th>
                        <th class="text-left">City</th>
                        <th class="text-left">State</th>
                        <th class="text-left">Country</th>
                        <th class="text-left">User Type</th>
                        <th class="text-right"></th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-user [ngForOf]="userdata" let-i="index">
                        <tr *ngIf="(user.jobTitle.toLocaleLowerCase().indexOf(jobTitleSearchString.toLocaleLowerCase()) != -1 && user.state.toLocaleLowerCase().indexOf(stateSearchString.toLocaleLowerCase()) != -1 && user.country.toLocaleLowerCase().indexOf(countrySearchString.toLocaleLowerCase()) != -1 && user.city.toLocaleLowerCase().indexOf(citySearchString.toLocaleLowerCase()) != -1) || (jobTitleSearchString == '' && citySearchString == '' && stateSearchString == '' && countrySearchString == '')">
                            <td class="align-middle p-2 pl-3 text-left">{{ i+1 }}</td>
                            <td class="align-middle p-2 text-left">{{ user.Name }}</td>
                            <td class="align-middle p-2 text-left">{{ user.email }}</td>
                            <td class="align-middle p-2 text-left">{{ user.phone }}</td>
                            <td class="align-middle p-2 text-left">{{ user.jobTitle }}</td>
                            <td class="align-middle p-2 text-left">{{ user.city }}</td>
                            <td class="align-middle p-2 text-left">{{ user.state }}</td>
                            <td class="align-middle p-2 text-left">{{ user.country }}</td>
                            <td class="align-middle p-2 text-left">{{ user.usertype }}</td>
                            <td class="align-middle p-2 text-right">
                                <a class="fa fa-download fa-lg pr-1 text-info" (click)="fnDownloadResume(user,i)" style="cursor: pointer;"></a>
                            </td>
                            <td class="align-middle p-2 text-right">
                                <a class="fa fa-trash fa-lg pr-1 text-info" (click)="fnDeleteUser(user,i)" *ngIf="userType == 'MAINADMIN'" style="cursor: pointer;"></a>
                            </td>
                        </tr>
                    </ng-template>
                    <tr>
                        <td class="text-center" colspan="5" *ngIf="loadmore">
                            <input type="button" class="btn btn-info" value="Please wait..." *ngIf="pleasewaitforloadmore" disabled>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="loadding">
                    <tr>
                        <td class="text-center" colspan="10">
                            <i style="font-size: xx-large" class="fa fa-spinner fa-spin"></i>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="!loadding && userdata.length == 0">
                    <tr>
                        <td class="text-center" colspan="10">
                            No record found.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>