.rAS_container {
  .title {
    padding: 15px;
    border-bottom: 1px solid #eee;
    background: #fcfcfc;
  }
  .table {
    line-height: 1;
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.01);
  }
  .searchbar {
    // background: #fdfdfd;
  }
  .jumbotron{
      cursor: pointer;
  }
}

.modal-body {
  .form-group {
    label {
      font-size: 15px;
    }
  }
}
