/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700');
.mat-list-item {
    font-family: 'Gudea', serif !important;
    font-size: 18px !important;
}

.modal-header {
    .modal-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#toast-container>div {
    opacity: 1;
}